<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test Completed</title>
  <link rel="stylesheet" href="/static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div class="page-container">
    <div class="card center">

      <h1 class="title">Test Completed</h1>

      <p class="subtitle">
        Thank you for taking the IntelliPrep assessment.
      </p>

      <div class="score-box">
        <p>Your Score</p>
        <h2>{{ score_percent }}%</h2>
      </div>

      <p class="info-text">
        You may now safely close this window.
      </p>

      <a href="/" class="primary-btn">
  Take Test Again
</a>

    </div>
  </div>
</body>
</html>
