<!DOCTYPE html>
<html>
<head>
  <title>IntelliPrep Test</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>IntelliPrep Assessment</h1>

  <p>
  • The test contains <b>25 questions</b>.<br>
  • You may choose questions in any order.<br>
  • <b>Each question can be attempted only once.</b><br>
  • Once an answer is submitted, it <b>cannot be changed</b>.<br>
  • Attempted questions cannot be opened again.
</p>


  <form method="post" action="/start">
    <button type="submit">Start Test</button>
  </form>
</body>
</html>
